h1{
    text-align: center;
}

hr{
    width:70%;
    height:2px;
    border: 0;
    background-color: var(--color-black);
}

.wrapAll{
    display: flex;
    flex-direction: column;
}

.wrapLine{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding:5px;
    width: 800px;
}
.wrapButton{
    display: flex;
    margin: 0 auto;
}
input{
    width: 40vw;
    height: 40px;
    border: 2px solid var(--color-grey);
    border-radius: 10px;
    text-align: center;
}
input::placeholder{
    font-size: 16px;
}
.text{
    font-weight: bold;
    padding-right: 50px;
}
.address{
    height: 80px;
    border: 2px solid var(--color-yellow);
}
.selectButton{
    width: 109px;
    height: 41px;
    border-radius: 10px;
    background: none;
    border-color: var(--color-grey);
    color: var(--color-grey);
    font-size: 20px;
}
.selectButton:hover{
    background-color: var(--color-yellow);
}
.selectButton:active{
    color:var(--color-white);
}

.submitButton{
    border-radius: 10px;
    border: none;
    background: var(--color-yellow);
    color:var(--color-white);
    font-size: 20px;
    font-weight: bold;
    width: 800px;
    height: 57px;
    margin-top: 7vh;
}