:root{
  --color-black:#3F3F3F;
  --color-grey:#6B6B6B;
  --color-white:#FFFFFF;
  --color-blue:#0086FD;
  --color-red:#FF6868;
  --color-yellow:#FFBB53;
  --color-green:#40B73D;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
